<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
   <view
        name="Jenkins Sample Data"
        icon="icons/sample.png"
        class="com.arglab.eclipsedatacollector.jenkins.ui.JenkinsView"
        id="com.arglab.eclipsedatacollector.jenkins.ui.JenkinsView">
  </view>
   </extension>

</plugin>
